*{
  margin:0;
  padding:0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color:
}
.tbody {
  position: absolute;
  left: 45.7%;
}
.playerbar {
  position: relative;
  margin-top: 135px;
  margin-left: 20px;
}

#volume-control {
  margin-left: 150px;
}

#time-control {
  position: absolute;
  margin-left: 800px;
}

.bg {
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 150px;
  bottom: 50px;
  right: 350px;
  height: 50vh;

}
.bg2 {
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 150px;
  bottom: 50px;
  right: 350px;
  height: 50vh;

}
.bg3 {
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 371px;
  bottom: 50px;
  right: 0px;
  height: 50vh;

}
